Hello <%=name%>,<br><br>
You (or someone using your email) has requested a password reset for your account '<%=username%>'.<br>
Click <a href="http://localhost:4200/auth/password-reset/<%=hash%>">here</a> to change your password.
<br><br>
Your NS Support