Hello <%=name%>!
<br><br>
Account associated with this email (<%=email%>) is now eligible to register.
<br>
DEVELOPMENT_MODE: <a href="http://localhost:4200/request/registration/<%=hash%>">Finish Up</a>
<br><br>

Your NS Support