Hello <%=name%>,<br><br>
Your account has been successfully created with the following credentials:<br><br>
<ul>
    <li> Name: <b><%=name%></b> </li>
    <li> Username: <b><%=username%></b> </li>
    <li> Email: <b><%=email%></b> </li>
</ul>
<br><br>
Your NS Support